<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visitor Solution</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/login" method="post">
      First name:<br>
        <input type="text" name="name">
      <br>
      Last name:<br>
        <input type="text" name="surname">
      <br>
       Visiting:<br>
        <input type="text" name="visiting">
        <br>
       Company:<br>
        <input type="text" name="company">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <p></p>
    <p></p>
    <p></p>
    <h1>Log Out</h1>
    <form action="/logout" method="post">
        Pass ID:<br>
         <input type="text" name="pass_id">
        <br><br>
         <input type="submit" value="Submit">
    </form>
</body>
</html>