/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #005EB8;
$--color-success: #78BE20;
$--color-warning: #FFB81C;
$--color-danger: #DA291C;
$--color-info: #768692;
$--color-text-primary: #231f20;
$--color-text-regular: #425563;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
