@page {
    size: 10cm 6.2cm;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.box {
    width: 9.2cm;
    height: 5.5cm;
    border: 1px solid black;
    float: left;
    margin: 0.3cm;
}

.header {
    width: 100%;
    font-size: 11pt;
    text-align: center;
}

.content-main {
    height: 1.8cm;
    float: left;
    width: 100%;
    word-wrap: break-word;
}

.logo {
    margin-left: 0.3cm;
    height: 100%;
    float: left;
}

.visitor{
    height: 100%;
    font-size: 36pt;
    font-weight: 900;
    float: right;
    margin-right: 0.3cm;
}

#name {
    width: 100%;
    float: left;
    font-size: 30pt;
    font-weight: 600;
    text-align: center;
}

#company {
    font-size: 20pt;
    font-weight: 600;
    width: 100%;
    float: left;
    text-align: center;
}

.content-secondary {
    width: 100%;
    font-size: 11pt;
    float: left;
    text-align: center;
}


#date {
    width: 49%;
    float: left;
}

#passId {
    width: 49%;
    float: left;
}


.footer {
    width: 100%;
    color: #ff0000;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    float: left;
}

h3 {
    margin: 0;
    font-size: 12pt;
}

