@page {
    size: A4;
    margin: 0.1cm;
}

body {
    font-family: Arial;
}

.box {
    width: 9.3cm;
    height: 6.2cm;
    border: 2px solid black;
    padding: 0.3cm;
}

.p1Header {
    width: 100%;
    height: 0.5cm;
    line-height: 0.5cm;
    font-size: 11pt;
    text-align: center;
}

.p1Main {
    width: 100%;
    height: 4cm;
    text-align: center;
    word-wrap: break-word;
}

.p1Img {
    width: 100%;
    height: 2cm;
}

.p1LogoContainer {
    width: 50%;
    height: 100%;
    float: left;
}

.p1QrContainer {
    width: 50%;
    height: 100%;
    float: left;
}

.logo {
    margin: 0;
    height: 100%;
}

.visitor{
    font-size: 30pt;
    font-weight: 900;
    color: #000000;
}

.p1Secondary {
    height: 0.7cm;
    line-height: 0.7cm;
    width: 100%;
    font-size: 11pt;
    margin-top: 0.1cm;
}

.visitorDetails {
    line-height: 0.3cm;
}

#date {
    width: 50%;
    float: left;
}

#passId {
    width: 50%;
    float: left;
}

#qr {
    height: 100%;
    margin: 0;
}

.p1Footer {
    width: 100%;
    color: #ff0000;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}

.p2Header {
    width: 100%;
    font-size: 8.8pt;
    text-align: center;
}

.p2Main {
    font-size: 8.8pt;
    text-align: justify;
    width: 100%;
}

.p3Header {
    font-size: 14pt;
    color: #ff0000;
    text-align: center;
}

.p3Main {
    text-align: justify;
    font-size: 11pt;
}

.p4Header {
    margin-top: -5px;
    font-size: 12pt;
    color: #ff0000;
    text-align: center;
}

.p4Main {
    width: 100%;
    text-align: center;
}

h3 {
    margin: 0.2cm;
    font-size: 12pt;
}

ul {
    margin-left: -0.6cm;
}

.diagram {
    width: 70%;
}

.blueFont {
    color: #0000ff;
}

.rotate{
    transform: rotate(180deg);
}
