@page {
    size: 9.3cm 6.2cm;
    margin: 0cm;
}

body {
    font-family: Arial;
    margin: 0cm;
}

.box {
    width: 9.18cm;
    height: 6.08cm;
    border: 0.5mm solid black;
    float: left;
}

.p1Header {
    width: 100%;
    height: 0.5cm;
    line-height: 0.5cm;
    font-size: 11pt;
    text-align: center;
}

.p1Main {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.p1Img {
    width: 100%;
    height: 2cm;
    margin-right: 0.5cm;
    margin-left: 0.5cm;
}

.p1LogoContainer {
    width: 20%;
    height: 100%;
    float: left;
}

.logo {
    margin: 0;
    height: 100%;
}

.visitor{
    font-size: 40pt;
    font-weight: 900;
    color: #000000;
}

.p1Secondary {
    height: 0.7cm;
    line-height: 0.7cm;
    width: 100%;
    font-size: 11pt;
    margin-top: 0.1cm;
    padding-right: 0.3cm;
    padding-left: 0.3cm;
}

.visitorDetailsName {
    font-size: 30pt;
}

.visitorDetailsCompany {
    font-size: 20pt;
}

#date {
    width: 50%;
    float: left;
}

#passId {
    width: 50%;
    float: left;
}


.p1Footer {
    width: 100%;
    color: #ff0000;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 0.1cm;
    font-size: 12pt;
}

