<html>
    <head>
        <link rel="stylesheet" type="text/css" href="pass.css"/>
    </head>
    <body>
        <div class="box">
            <div class="header">
                <b>Whitehall II Security: 0113 866 5735</b>
            </div>
            <div class="content-main">
                <img class="logo" src="img/pass_logo.png"/>
                <div class="visitor">VISITOR</div>
            </div>
            <div id="name"></div>
            <div id="company"></div>
            <div class="content-secondary">
                <div id="date"></div><div id="passId"></div>
            </div>
            <div class="footer">
                IMPORTANT: Please return the pass to reception on departure.
            </div>
        </div>
    </body>
</html>
